@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@500&display=swap');


.mainItens{
    padding:20px 70px;
}

.containerItens{
    width: 1220px;
}

.identifierDoc, .infoClime{
    width: 1200px;
    height: 30px;

    display: flex;
    border: 1px solid #010101
}

.infoClime{
    border-top: none;
}
.date, .board, .idOs,
.pressure, .humidity, .temperature{
    height: 100%;
    
    display: flex;
    align-items: center;

    font-family: 'Roboto';
    font-size: 16px;
}

.date, .board,
.pressure, .humidity{
    width: 400px;
    margin-left: 15px;
    border-right: 1px solid #000;
}

.idOs,
.temperature{
    margin-left: 15px;
}


#dateDoc, #boardDoc, #osDoc,
#pressureDoc, #humidityDoc, #temperatureDoc{
    width: 200px;
    height: 28px;
    
    border: none;
    
    background-color:#F0EEF0;

    outline: none;

    padding-left: 15px;

}



/* Itens de avaliação*/


.descriptionItens{
    width: 416px;
    border: 1px solid #010101;
    border-top: none;
}

.boxIdentifier{
    display: flex;
    font-size: 15px;
    font-family: 'Roboto';
    color: #fff;
    background-color: #999
}

.numberBox{
    padding-left: 10px;
    padding-right: 14px;

    border-right: 1px solid #010101;
}

.titleBox{
    padding-left: 8px;
}

.itens{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 14px;
    font-family: 'Roboto';
    
    border-top: 1px solid #000;

}

.groupItens{
    display: flex;
    align-items: center;
    
    height: 40px;
    
    
}

.boxIdItem{
    display: flex;
    align-items: center;

    border-right: 1px solid #000;

    height: 100%;
    padding-right: 2px;
}

.boxDescription{
    width: 325px;
    padding-left: 5px ;

    text-transform: uppercase;
}

.boxSelect{
    height: 38px;
}

.boxSelect select{
    height: 38px;

    border: none;
    border-left: 1px solid #000;

    outline: none;
    text-align: center;

}

.inputNCValue{
    width: 365px;
    height: 38px;
    padding-left: 7px;

    border: none;
    outline: none;

    background-color:#F0EEF0;
}

.ncValue{
    display: none;
    align-items: center;

    border-top: 1px solid #000;

    width: 100%;
}

.addNC{
    width: 15px;
    height: 15px;

    background-color: #000;
    
    border-radius: 50%;
    margin-left: 18px;
}

.ncValue.active{
    display: flex;
}

.bg{
    background-color: aqua;
}