<%- include('../partials/header')%>

<div class="mainHome">
    <div class="mainCards">
        <a href="gnv" class="redirectLink">
            <div class="boxCard" id="carroGnv">
                <p class="title">GNV</p>
                <p class="description">Periódica e/ou Inicial</p>
            </div>
        </a>

        <a href="" class="redirectLink">
            <div class="boxCard" id="antt">
                <p class="title">ANTT/DER</p>
            </div>
        </a>

        <a href="" class="redirectLink">
            <div class="boxCard" id="modificados">
                <p class="title">MODIFICADOS</p>
            </div>
        </a>

        <a href="" class="redirectLink">
            <div class="boxCard carroSinistrado" id="sinistrados">
                <p class="title">SINISTRO</p>
                <p class="description">Carro</p>
            </div>
        </a>
        <a href="" class="redirectLink">
            <div class="boxCard sinistradosMoto" id="sinistrados">
                <p class="title">SINISTRO</p>
                <p class="description">Moto</p>
            </div>
        </a>
        
    </div>
</div>
