<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="js/login.js"></script>
    <title>Home</title>
</head>
<body class="containerMain">
   <header class="headerMain">
    <div class="navbarMain">
        <div class="nameOrganization">Inspetrans</div>
        <div class="dataGroup">
            <div class="userName">Usuário</div>
            <div class="logoutBtn">
                <a href="">Sair</a>
            </div>
        </div>
      </div>
   </header>
    
 